*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    text-decoration: none;
    list-style: none;
}

button{
    cursor: pointer;
}

.button-green{
    border-radius: 0.1rem;
    background-color: #1C8F3C;
    color: #FFFFFF;
    padding: 0.5rem 1rem;
}

.button-colorless{
    border-radius: 0.1rem;
    background-color: rgba(28, 143, 60, 0.02);
    color: #000000;
    border: solid 0.1rem #FFFFFF;
    padding: 0.5rem 1rem;
}